In [1]:
from create_db import *

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
from confusion_matrix_pretty_print import print_confusion_matrix

%matplotlib inline

In [2]:
PARAMETERS.LBP_METHOD = 'riu2'
PARAMETERS.METHOD = 'get_pyramid_dataset'
PARAMETERS.INTERPOLATION_ALGORITHM = 'lanczos'
PARAMETERS.BALANCE = False
PARAMETERS.N_SCALES = 5
PARAMETERS.GRAY_INTENSITY = True
PARAMETERS.X2SCALE = True
PARAMETERS.FILE_EXTENSION = PARAMETERS.update_file_extension(PARAMETERS)
PARAMETERS.PLOT = False

pd.DataFrame({k: getattr(PARAMETERS, k) for k in VALID_PARAMETERS.keys()}, index=['Parameters']).head()

,LBP_METHOD,METHOD,INTERPOLATION_ALGORITHM,BALANCE,N_SCALES,GRAY_INTENSITY,X2SCALE
Parameters,riu2,get_pyramid_dataset,lanczos,False,5,True,True

In [3]:
PARAMETERS.RADIUS = 2

In [4]:
main()

In [5]:
db_path = '../DB/extra_features/radius/2'
train_file_name = f"{db_path}/train_train_{PARAMETERS.FILE_EXTENSION}"
test_file_name = f"{db_path}/train_test_{PARAMETERS.FILE_EXTENSION}"
df_train_r2 = pd.read_pickle(f'{train_file_name}.pkl', compression='gzip')
df_test_r2 = pd.read_pickle(f'{test_file_name}.pkl', compression='gzip')

In [6]:
df_train_r2.head()

   Original 1:1 1:2 1:4 1:8 2:1_1 2:1_2 2:1_3 2:1_4  label
0         1   8   8   8   8     7     6     9     7      0
1         1   8   8   8   8     6     9     8     9      0
2         1   8   8   8   8     9     8     8     8      0
3         1   8   8   8   8     8     8     8     8      0
4         1   8   8   8   8     7     9     8     7      0

In [7]:
np.max(np.array(df_train_r2))

17

In [9]:
df_train_r2.drop(['Original', 'label'], axis=1, inplace=True)
df_test_r2.drop(['Original', 'label'], axis=1, inplace=True)

In [11]:
from main import *

main(lgb=True, plot_once=True, extra_features={'train': df_train_r2, 'test': df_test_r2})

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.039419 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
Accuracy score: 0.9117521227967568

F1 score: 0.6030473876704914

Confusion matrix:

     t/p      0     1
        0 1151105 36440
        1 83816 91346
Sensivity: 0.521494388052203
Specificity: 0.9693148470163236

(0.912, 0.603, 1151105, 36440, 83816, 91346)

In [12]:
main(lgb=True, all_lbp=True, plot_once=True, extra_features={'train': df_train_r2, 'test': df_test_r2})

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.113092 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
Accuracy score: 0.9234861199069205

F1 score: 0.6910637037037037

Confusion matrix:

     t/p      0     1
        0 1141824 45721
        1 58545 116617
Sensivity: 0.6657665475388498
Specificity: 0.9614995642270399

(0.923, 0.691, 1141824, 45721, 58545, 116617)